<div class="project-banner py-5">
  <div class="wrapper">
    <h2>Ready to start working with us?</h2>
    <p>Your project will be in good company, we can do it together.</p>
    <div class="button-container gap-4">
      <button routerLink="../contact-us" class="buttons buttons__primary shadow-sm rounded">Get
        started</button>
      <a routerLink="../projects" class="my-auto d-flex flex-row">
        <p class="my-auto">See projects</p>
        <svg xmlns="http://www.w3.org/2000/svg" class="my-auto mx-1" viewBox="0 0 20 20" fill="currentColor"
          height="20px">
          <path fill-rule="evenodd"
            d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z"
            clip-rule="evenodd" />
        </svg>
      </a>
    </div>
  </div>
</div>