<div class="project-preview">
  <div class="carousel-container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" *ngFor="let service of projectDetails.imageGallery; let index = index"
          data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="index" [ngClass]="{'active': index == 0}"
          aria-current="true" aria-label="Slide 1"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item img-fluid" [ngClass]="{'active': index == 0}"
          *ngFor="let image of projectDetails.imageGallery; let index = index">
          <img src="{{image}}" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>
  <main class="wrapper py-5">
    <div class="navigation">
      <a routerLink="../../home">
        Home
      </a>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
          clip-rule="evenodd" />
      </svg>
      <a routerLink="../../projects">
        Projects
      </a>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
          clip-rule="evenodd" />
      </svg>
      <p>{{ projectDetails.title }}</p>
    </div>
    <div class="project-details-container">
      <section class="description">
        <h2 class="mb-3">{{ projectDetails.title }}</h2>
        <!-- <p>
          {{ projectDetails.description }}
        </p> -->
        <div class="service-provided">
          <div class="cards__services rounded" data-aos="zoom-in" data-aos-once="true"
            *ngFor="let service of projectDetails.serviceProvided">
            <p class="m-auto">{{ service }}</p>
          </div>
        </div>
      </section>
      <section class="d-flex flex-column bordered">
        <div class="project-details">
          <strong>Project location:</strong>
          <p>{{ projectDetails.location }}</p>
        </div>
        <div class="project-details d-flex flex-row">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
              d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
              clip-rule="evenodd" />
          </svg>
          <strong>Client:</strong>
          <p>{{ projectDetails.projectDuration }}</p>
        </div>
      </section>
    </div>
  </main>
</div>
<div class="banner py-5">
  <app-banner></app-banner>
</div>