<div class="services-page">
  <div class="header">
    <div class="wrapper">
      <h2>Services</h2>
    </div>
  </div>
  <div class="wrapper py-5">
    <h5 data-aos="fade-up">
      Our services include, but are not limited to the following:
    </h5>
    <div class="accordion" id="accordionExample" data-aos="fade-up" data-aos-delay="100">
      <app-accordion-item *ngFor="let item of servicesList; let index = index" [item]="item"></app-accordion-item>
    </div>
  </div>
</div>
<app-project-banner></app-project-banner>