<div class="about">
  <div class="header">
    <div class="wrapper">
      <h2>About A-Conbel</h2>
    </div>
  </div>
  <main class="wrapper py-5">
    <section class="mb-5">
      <div data-aos="fade-right" data-aos-once="true">
        <h4>Company Profile</h4>
        <p>
          A-Conbel Builders Corporation is an engineering company that provides optimum solution to every need of
          construction
          industry. We cater from structural design to methodical construction.
        </p>
      </div>
      <div data-aos="fade-left" data-aos-once="true">
        <img src="../../assets/images/profile-construction.jfif" alt="" class="img-fluid rounded">
      </div>
    </section>
    <section class="py-5 history">
      <div data-aos="fade-right" data-aos-once="true"><img
          src="https://scontent-hkt1-2.xx.fbcdn.net/v/t39.30808-6/275214283_1310794649415136_5724694355801928808_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeGtizs9S22Ok2RyA_kMHuuX3IkEukFM5u3ciQS6QUzm7b0Xm7QB9mRA8AKS7ZQAqEA__TUjZSWHVJvoAaRgcXzk&_nc_ohc=8MhVcy1boQ8AX-XGB4S&_nc_ht=scontent-hkt1-2.xx&oh=00_AT9Sg39eLy10jd1b0sRS9e4zRrwioYK4WPmMUma5TzPafg&oe=6263EFE1"
          alt="" class="img-fluid rounded">
      </div>
      <div data-aos="fade-left" data-aos-once="true">
        <h4>Our History</h4>
        <p>
          For 12 years, Engr. Conrado E. Parungao, the General Manager, has been a trusted service provider in the field
          of construction specializing in Interior Fit-Out projects. To date, A-Conbel Builders Corporation has provided
          clients
          with
          ultimately utmost satisfaction.
        </p>
      </div>
    </section>
  </main>
  <div class="banner py-5">
    <app-banner></app-banner>
  </div>
</div>