<div class="about">
  <div class="header">
    <div class="wrapper">
      <h2>About A-Con</h2>
    </div>
  </div>
  <main class="wrapper py-5">
    <section class="mb-5">
      <div data-aos="fade-right">
        <h4>Company Profile</h4>
        <p>
          A-Con Construction is an engineering company that provides optimum solution to every need of construction
          industry. We cater from structural design to methodidal construction.
        </p>
      </div>
      <div data-aos="fade-left">
        <img src="../../assets/images/profile-construction.jfif" alt="" class="img-fluid rounded">
      </div>
    </section>
    
    <section class="py-5 history">
      <div data-aos="fade-right">
        <img src="../../assets/images/profile-construction.jfif" alt="" class="img-fluid rounded">
      </div>
      <div data-aos="fade-left">
        <h4>Our History</h4>
        <p>
          For 12 years, Engr. Conrado E. Parungao, the General Manager, has been a trusted service provider in the field
          of construction specializing in Interior Fit-Out projects. To date, A-CON Construction has provided clients
          with
          ultimately utmost satisfaction.
        </p>
      </div>
    </section>
  </main>
</div>