.about {
  overflow-x: hidden;

  .header {
    background-image: url('../../images/background-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    display: flex;
    align-items: flex-end;

    h2 {
      color: #ffffff;
      margin: 20px 0;
    }
  }

  main {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }

    .history {
      height: 100vh;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    h4 {
      font-weight: 600;
    }

    p {
      font-size: 1.1rem;
      line-height: 1.8rem;
    }

    @media screen and (max-width: 999px) {
      section {
        grid-template-columns: repeat(1, 1fr);
      }

      .history {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
}