.navbar {
  position: sticky;
  top: 0;
  font-size: 0.855rem;
  font-weight: 600;
  background-color: white;
  border-bottom: 1px solid $base-color;
  z-index: 3;

  .container-fluid {
    padding: 0;
  }

  .navbar-nav {
    background-color: transparent;
  }

  .nav-item {
    &:hover {
      a {
        color: $product-color !important;
      }
    }

    &:active,
    .active {
      color: $product-color !important;
      border-bottom: 2px solid $product-color;
    }
  }

  .navbar-brand {
    margin: auto 0;

    img {
      margin: -38px 0;
      height: 128px;
    }
  }

  #contact {
    display: none;
  }

  #desktop {
    display: flex !important;
  }

  #mobile {
    display: none !important;
  }

  button {
    display: block;
  }

  @media screen and (max-width: 999px) {
    button {
      display: none;
    }

    #desktop {
      display: none !important;
    }

    #mobile {
      display: flex !important;
    }

    #contact {
      display: block;
    }

    .navbar-nav {
      border-radius: 5px;
      width: 100%;
      margin-bottom: 50px !important;
    }
  }
}
