.navbar {  
  position: static;
  padding: 0;
  margin: -30px auto;
  font-size: 0.855rem;
  font-weight: 600;

  .container-fluid {
    padding: 0;
  }

  .navbar-nav {
    background-color: transparent;
  }

  .navbar-brand {
    margin: auto 0;
  }
  #contact {
    display: none;
  }

  button {
    display: block;
  }

  @media screen and (max-width: 999px) {
    button {
      display: none;
    }

    #contact {
      display: block;
    }

    .navbar-nav {
      border-radius: 5px;
      width: 100%;
      margin-top: -40px;
      margin-bottom: 50px !important;
    }
  }
}
