.home {

  h3 {
    font-weight: 600;
  }

  &__hero {
    background-image: url('../../images/background-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        color: white;
        max-width: 600px;
        text-align: center;
      }

      button {
        width: 150px;
      }
    }
  }

  &__feature {}

  &__projects {
    z-index: 2;
    background-color: $offwhite;

    .wrapper {
      // background-color: $product-color;
      border-radius: 8px;
    }

    h2 {
      font-weight: 600;
    }

    .services-container {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      flex-wrap: wrap;
      margin-top: 20px;
    }
  }

  &__another {
    .wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .left {
        display: flex;
        align-items: center;
        border-right: 1px solid $base-color;

        h3 {
          max-width: 400px;
        }
      }

      .carousel {
        overflow: hidden;

        .carousel-item {

          .carousel-caption {
            height: 60%;
          }

          img {
            visibility: hidden !important;
          }
        }
      }

      .social-proof {

        .message {
          margin: auto;
          width: 500px;
          text-align: left;

          p {
            font-size: 1.2rem;
          }

        }
      }
    }

    @media screen and (max-width: 999px) {
      .wrapper {
        display: flex;
        flex-direction: column;

        .left {
          justify-content: center;

          h3 {
            text-align: center;
          }
        }

        .carousel {
          overflow: hidden;

          .carousel-inner {
            display: flex;

          }

          .carousel-item {

            .carousel-caption {
              margin-left: -65px;
              height: 65%;
            }

            img {
              visibility: hidden !important;
            }
          }
        }

        .social-proof {
          .message {
            width: 100%;
          }
        }

        .left {
          border: none;
        }
      }
    }
  }
}
