.home {
  &__hero {
    background-image: url('../../images/background-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 88vh;
    display: flex;
    align-items: center;

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        color: white;
        max-width: 600px;
        text-align: center;
      }

      button {
        width: 150px;
      }
    }
  }

  &__projects {
    background-color: $offwhite;

    .icon {
      svg {
        height: 20px;
        margin: auto 5px;
        fill: $product-color;
        margin-top: -5px;
      }
    }

    .browser-btn {
      cursor: pointer;
      width: 100%;
      display: flex;
      justify-content: flex-end;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__banner {
    background: rgb(7, 94, 19);
    background: linear-gradient(90deg, rgba(7, 94, 19, 1) 0%, rgba(61, 147, 104, 1) 77%, rgba(9, 171, 82, 1) 100%);

    .wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    button {
      width: 150px;
      margin: auto;
      margin-right: 0;
    }

    @media screen and (max-width: 999px) {
      .wrapper {
        grid-template-columns: repeat(1, 1fr);
      }

      button {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
      }
    }

    div {
      display: flex;
      flex-direction: column;
    }

    strong,
    p {
      color: white;
      margin: auto 0;
    }

    strong {
      font-size: larger;
      margin-bottom: 10px;
    }
  }
}