.home {
}

.features-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 999px) {

    .features-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .home {
        .wrapper {
            max-width: 100%;
        }
    }

}