.projects {
  .project-container {
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
  }

  strong {
    color: $product-color;
    font-size: small;
  }

  .icon {
    svg {
      height: 20px;
      margin: auto 5px;
      fill: $product-color;
      margin-top: -5px;
    }
  }



  .browse-container {
    display: flex;
    justify-items: flex-end;

    .browser-btn {
      display: flex;
      width: auto;
      margin: auto;
      margin-right: 0;
      &:hover {      
        text-decoration: underline;
      } 
    }

    @media screen and (max-width: 999px) {
      .browser-btn {

        .icon {
          display: none;
        }
        margin: auto;
      }
    }
  }

  h2 {
    font-weight: 600;
    color: $black;
  }

  p {
    max-width: 380px;
  }
}