.project-preview {
  .navigation {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    svg,
    a,
    p {
      margin: auto 0;
      color: $base-color1;
      font-weight: 600;
    }

    a {
      cursor: pointer;
      text-decoration: underline;
      color: $black;
    }

    svg {
      margin-top: -2px;
      height: 24px;
    }
  }

  .carousel {
    .carousel-indicators > * {
      border-radius: 50%;
      width: 8px;
      height: 8px;
      margin: auto 5px;
    }

    .carousel-indicators .active {
      background-color: $product-color;
    }

    .carousel-item {
      img {
        height: 70vh;
      }
    }
  }

  .project-details-container {
    display: grid;
    grid-template-columns: 70% 30%;

    .description {
      margin-right: 30px;
    }

    .service-provided {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      flex-wrap: wrap;
    }

    .bordered {
      border-left: 1px solid $base-color;
      padding-left: 20px;

      .project-details {
        gap: 5px;
        display: flex;
        flex-direction: column;

        svg {
          height: 30px;
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: 999px) {
    .project-details-container {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      .bordered {
        border: none;
        border-top: 1px solid $base-color;
        padding-top: 30px;
      }
    }
  }
}