.buttons {
  padding: 8px;
  border: none;

  &__hero {
    background-color: white;
    color: $product-color;
    font-weight: 600;
  }

  &__primary {
    padding: 15px;
    width: 100%;
    background-color: $product-color;
    color: white;
  }
}


buttons {  

  &:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}