.cards {

  &__feature-card {
    padding: 15px;
    max-width: 250px;
    border: 1px solid $base-color;
    display: flex;
    flex-direction: column;
    text-align: center;

    img {
      height: 100px;
      width: 100px;
      margin: auto;
    }
  }

  &__project-card {
    width: 299px;
    overflow: hidden;    
    margin: auto;

    img {
      height: 280px;
    }

    h5 {
      color: white;
    }

    .card-title {
      display: none;
      margin: auto;
    }

    .card-img-overlay {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover .card-title {
      display: flex;
      animation-name: example;
      animation-duration: 0.5s;
    }

    @keyframes example {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }


    }
  }
}