<div class="home">
  <div class="sections sections__section1">
    <div class="wrapper">
      <div class="grid-container row">
        <div class="cards__banner">
          <h1 class="mb-4">Main heading Example.</h1>
          <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed vulputate ipsum, ut
            hendrerit nibh.</p>
          <button class="btn btn__secondary shadow-sm">Explore</button>
        </div>
      </div>
    </div>
    <div class="overlay">
    </div>
  </div>
  <div class="sections__section2 d-flex flex-column center py-4">
    <h4>Why choose us?</h4>
    <app-features></app-features>
  </div>
</div>