<div class="home">
  <div>
    <div class="sections__section1 wrapper1 mb-4">
      <div class="cards__banner w-100 p-4">
        <h1 class="mb-4">Turning your architectural vision into reality.</h1>
        <p class="mb-4"></p>
        <div class="d-flex flex-row gap-3">
          <a class="btn btn__secondary shadow-sm">Explore</a>
        </div>
      </div>
    </div>
    <div class="sections__section2">
      <div class="wrapper">
        <h4>Why choose us?</h4>
        <app-features></app-features>
      </div>
    </div>
    <div class="sections sections__section3 py-4">
      <div class="project-container wrapper">
        <div class="header-container">
          <h3>Recent Projects</h3>
        </div>
      </div>
    </div>
  </div>
</div>