<div class="home">
  <div class="home__hero">
    <div class="wrapper d-flex flex-column">
      <h1>Turning your architectural vision
        into reality.</h1>
      <button class="buttons buttons__hero shadow-sm mt-4 rounded" routerLink="../projects">
        Contact us
      </button>
    </div>
  </div>
  <div class="home__feature py-3">
    <app-features></app-features>
  </div>
  <div class="home__projects py-3">
    <div class="wrapper">
      <app-projects></app-projects>
    </div>
  </div>
  <div class="home__banner py-5">
    <div class="wrapper">
      <div>
        <strong>Need help?</strong>
        <p>If you have any questions email us or you can also message us through our social media accounts.</p>
      </div>
      <div>
        <button class="buttons buttons__hero shadow-sm rounded">Talk to us</button>
      </div>
    </div>
  </div>
</div>